.codewander-toolTip {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  /*font: 12px sans-serif;*/
  padding: 5px;
  text-align: center;
}
.codewander-enableScroll{
	overflow: scroll;
	
}
.codewander-disableScroll{
	overflow: hidden;
	
}
.codewander-select-button{
	position: absolute; /* Sit on top of the page content */
			display: none; /* Hidden by default */
			width: 100%; /* Full width (cover the whole page) */
			height: 30px; /* Full height (cover the whole page) */
			top: 0; 
			left: 0;
			right: 0;
			bottom: 0;
		color:white;
		padding:1%;
			background-color: rgba(0,0,0,0.5); /* Black background with opacity */
			z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
			cursor: pointer; /* Add a pointer on hover */
	}
	
